*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner-section{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-title {
    margin: 180px 0px;
    display: inline;
    align-items: center;
  }
  .banner-title h1 {
    color: #272727;
    font-weight: 500;
    font-size: 80px;
    
  } 
  .banner-title p {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  } 
  .banner-img > img {
    height: 700px;
    width: 650px;
    margin-top: 90px;
  }
  .btn-primary {
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    margin-top: 20px;
    border: 0;
    border-radius: 8px;
    background: #e55473;
    color: white;
  }
  .banner-img {
    width: 630px;
    height: 700px;
  }

.feature-section{
    margin-top: 100px;
    margin-bottom: 300px;
    text-align: center;
}  
.feature-title {
    text-align: center;
    color: #272727;
    font-size: 30px;
    font-weight: 700;
  }
  .feature-description {
    color: rgba(39, 39, 39, 0.6);
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }

  .feature-trees {
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
 
  .trees {
    width: 410px;
    height: 430px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;

    
    
  }
  .tree-1 img{
    width: 250px;
    margin-top: 85px;
    
  }
  .tree-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
  }
  .tree-2 img{
    width: 340px;
    margin-top: 85px;
    
  }
  .tree-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    
  }
  
  

.trees a{
    display: block;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;
  }


.support-section{
  margin: 150px 180px;
  background: rgba(39, 39, 39, 0.05);
 
  
}  
.support-items{
  width: 80%;
  display: flex;
  margin: 30px 240px;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-around;
}
.item{
  text-align: center;
  margin: 15px 0;
}


.deal-section{
  margin: 50px 0px;
  padding: 100px 0px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.deal-title{
  text-align: center;
}
.deal-title h1{
  color: #272727;

font-size: 40px;

font-weight: 800;

}
.deal-off{
  color: #E55473;

}

.social-section{
 margin: 50px 0;
 background-color: #fff;
}
.social-main{
  margin: 150px 180px;
  width: 80%;
}
.social-title{
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
}
.social-description{
  margin-top: 15px;
  text-align: center;
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.social-flowers{
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-flowers img{
  margin-right: 10px;
}
.subscribe-section{
  margin: 50px 0;
  border-radius: 10px;
  
}
.subscribe-main{
  margin: 150px 180px;
  width: 80%;
  background-image: url('Flower\ Asset/subs.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe-title{
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
}

.subscribe-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
}
.subscribe-field{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.subscribe-field input{
  height: 64px;
  width: 700px;
  border-radius: 8px;
  font-size: large;
  margin-bottom: 100px;
  padding-left: 10px;
  border: 0;
  
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-main {
  padding: 100px;
}
.flower {
  color: #e55473;
  font-size: larger;
}
.flower-description {
  margin-top: 15px;
  text-align: center;
  line-height: 25px;
}
.copyright {
  margin-top: 30px;
  color: darkgray;
}

#birthday-section{
  width: 80%;
  margin: 0 auto;
}
#birthday-section img{
  width: 410px;
}